absl-py
asgiref
cachetools
certifi
charset-normalizer
colorama
contourpy
cycler
Django
djangorestframework
fonttools
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
idna
importlib-metadata
importlib-resources
kiwisolver
Markdown
MarkupSafe
matplotlib
numpy
oauthlib
opencv-python
packaging
pandas
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scipy
seaborn
six
smmap
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
thop
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
zipp
